<form method="POST" action="/login">
    <label for="username">Username</label>
    <input type="text" ide="username" name="username">

    <label for="password">Password</label>
    <input type="password" ide="password" name="password">

    <button type="submit">Login</button>

</form>